# RayTracingTutorial specific file
Editor/imgui.ini

.vs/
x64/

# Some files that I only need on my PC
Cameras/saved_presets.txt
Resources/sponza/sponza_split.obj
Resources/sponza/sponza_split2.obj
Resources/sponza/sponza2.obj
Resources/erato/erato.obj

Screenshots/
TestResults/
ExpectedTestResults/

packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/