# RayTracingTutorial specific file
RayTracingTutorial/imgui.ini

.vs/
x64/

# Some files that I only need on my PC
RayTracingTutorial/Cameras/saved_presets.txt
RayTracingTutorial/Resources/sponza/sponza_split.obj
RayTracingTutorial/Resources/sponza/sponza_split2.obj
RayTracingTutorial/Resources/sponza/sponza2.obj
RayTracingTutorial/Resources/erato/erato.obj

RayTracingTutorial/Screenshots/

packages/